*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
}
 main{
   
    width: 100%;
    height: 90vh;
    background-color: #007bff;
    
 }
 .nav{
    height: 90px;
    width: 100%;  
 }
 #trouble{
    height: 40px;
 }
 ul{
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    
 }
   li{
    list-style: none;
    /* align-items: center; */
    padding-top: 30px;
 }
 li a{
    text-decoration: none;
    color: white;
 }
 li a img{
    height: 65px;
    width: 230px;
    margin-top: 0px;
    
 }

 .main{
    background-color: #ffffff;
 }
 .bb{
    display: flex;
    justify-content: space-around;
    color: white;
    margin-top: 40px;
 }
 .box1{
    height: 400px;
    width: 45%;
    /* border: 4px solid white; */
 }
 .box2{
    height: 400px;
    width: 40%;
    background-image: url(businesss.webp);
    background-size: cover;
    
    /* border: 4px solid white; */
 }
 .box1 h1{
    font-size: 42px;
    font-family: cursive;
    padding-left: 35px;
 }
 .box1 h3{
    margin-top: 29px;
    word-spacing: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
 }
 .box1 h1 p{
    font-family: cursive;
 }
 
 .btn{
    display: flex;
    margin-top: 30px;
   

 }
 .btn1{
    width: 110px;
    height: 37px;
    border-radius:35px;
    border: 2.5px solid;
    font-size: 16px;
    font-weight: bold;
    margin: 20px;
    color: #030a65;
    background-color: white;
    border-color: #323335;
    
    
 }
 .btn2{
    width: 110px;
    height: 37px;
    border-radius:35px;
    color: #030a65;
    background-color: white;
    border-color: #323335;
    border: 2.5px solid;
    font-size: 16px;
    font-weight: bold;
    margin: 20px;
    
 }
 .afterm{
    display: flex;
    justify-content: space-around;
    color: rgb(0, 0, 0);
    margin-top: 40px;
    
 }
 .ist{
    height: 400px;
    width: 45%;
    /* border: 4px solid rgb(0, 0, 0); */
    background-image: url(anete-lusina--4Wi_ii6StY-unsplash.jpg);
    background-size: cover;
    
 }
 .sec{
    height: 400px;
    width: 45%;
    /* border: 4px solid rgb(0, 0, 0); */
  
 }
 .sec h3{
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    color: darkblue;
    margin-left:5% ;
 }
 .sec h1{
    font-size: 42px;
    margin: 0 0 18px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    
    
    
 }
 .sec p{
    font-size: 18px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0 0 18px;
    word-spacing: 5px;
 }
  .list{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
   
  }
  .list li{
   
    font-size: 19px;
    color: #044d6d;
    font-weight: 600;
    list-style: none;
    padding: 1.5%;
  }
  .reg{
    width: 150px;
    height: 40px;
    color: white;
    font-size: 16px;
    background-color: blue;
    font-weight: bold;
    border: 2px solid ;
    border-radius: 14px;
    padding: 4px;
    box-shadow: 0px 0px 2px gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
    margin-left: 20px;
  }
  .circle{
    width: 100%;
    height: 400px;
    background-color:navy;
    margin-top: 210px;
    display: flex;
    justify-content: space-around;
   
  }
  .c1,.c2,.c3,.c4{
    height: 180px;
    width: 180px;
    border: 1px solid white;
    border-radius: 50%;
margin-top: 100px;
  }

.square{
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
  
}
.sq1{
    height: 400px;
    width: 45%;
    /* border: 4px solid rgb(0, 0, 0); */
    margin-top: 120px;
    
}
.sq1 h1{
    font-size: 42px;
    margin-top: 20px;
}
.sq1 p{
    font-size: 26px;
    word-spacing: 5%;
    margin-top: 30px;
    margin-bottom: 20px;
    
}
 .sq1 span{
    font-size: 21px;
   
 }
 .sq2{
    height: 1150px;
    width: 45%;
    /* border: 4px solid rgb(0, 0, 0); */
   
 }
 .btn3{
    width: 120px;
    height: 35px;
    color: white;
    font-size: 17px;
    font-weight: bold;
    background-color:blue;
    border-radius: 10px;
    margin-top: 70px;
    outline: none;
    border: 0.5px solid white;
    box-shadow: 2px 5px 5px gray;
 }
 .row1,.row2{
    display: flex;
    justify-content: space-around;
    /* padding-top: 20px; */
    
 }

 .r1c1{
    width: 270px;
    height: 400px;
    /* border: 1px solid rgb(0, 0, 0); */
    text-align: center;
    font-size: 18px;
    background-color: white;
    box-shadow: 2px 2px 2px 2px gray;
   
    
 }
 .r1c2{
    width: 270px;
    height: 400px;
    /* border: 1px solid rgb(0, 0, 0); */
    text-align: center;
    font-size: 18px;
    margin-top: 85px;
    background-color: white;
    box-shadow: 2px 2px 2px 2px gray;
 }
 .r2c1{
    width: 270px;
    height: 400px;
    /* border: 1px solid rgb(0, 0, 0); */
    text-align: center;
    font-size: 18px;
    background-color: white;
    box-shadow: 2px 2px 2px 2px gray;
 }
 .r2c2{
    width: 270px;
    height: 400px;
    /* border: 1px solid rgb(0, 0, 0); */
    text-align: center;
    font-size: 18px;
    margin-top: 85px;
    background-color: white;
    box-shadow: 2px 2px 2px 2px gray;
 }
 .r1c1 h1{
    padding-top: 70px;
    font-size: 29px;
 }
 .r1c1 p{
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
    word-spacing: 2px;
    margin-top: 20px;

    
 }
 .r1c1 span{
    background-image: url(trust.webp);
 }

 .r1c2 h1{
   padding-top: 70px;
   font-size: 29px;
 }
 .r1c2 p{
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
    word-spacing: 2px;
    margin-top: 20px;

    
 }
 .r2c1 span{
    background-image: url(trust.webp);
 }
 
 .r2c1 h1{
   padding-top: 40px;
   font-size: 29px;
 }
 .r2c1 p{
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
    word-spacing: 2px;
    margin-top: 20px;
    
 }
 .r2c1 span{
    background-image: url(trust.webp);
 }
 
 
 .r2c2 h1{
   padding-top: 40px;
   font-size: 29px;
 }
 .r2c2 p{
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
    word-spacing: 2px;
    margin-top: 20px;
    
 }
 .r2c2 span{
    background-image: url(trust.webp);
 }
 
 .reed{
    height: 320px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff;
    font-size: 27px;
    padding: 80px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

    .btn4{
        height: 65px;
        width: 330px;
        border-radius: 40px;
        border: 2px solid white;
        padding: 10px;
        font-size: 20px;
        font-weight: bold;
        /* margin-left: 80%; */
        color: white;
        background-color: #007bff;
       
    }
 .faq{
   width: 100%;
   height: 100vh;
   background-color: #f6f5ff;
   display: flex;
   justify-content: space-around;
   
 }
 .faq-box1{
   height: 400px;
   width: 50%;
   /* background-color: white; */
   display: flex;
   flex-direction: column;
 margin-left: 20px;
 margin-top: 80px;
   
   
 }
 .faq-box2{
   height: 400px;
   width: 40%;
   background-color: white;
   background-image: url(think.jpeg);
   background-size: cover;
background-repeat: no-repeat;
   margin-top: 40px;
 

 }
 .f1,.f2,.f3{
   height: 60px;
   width: 100%;
   font-size: 23px;
   background-color: rgb(255, 255, 255);
   margin-top: 15px;
   font-weight: bolder;
   align-items: center;
   display: flex;
   align-items: center;
   box-shadow: 2px 2px 2px 2px gray;
   padding-left: 30px;

 }
 .faq-box1 h1{
   text-decoration: underline;
   margin-bottom: 20px;
   font-size:40px;
 }
 .f1 span{
   margin-left: 165px;
   font-size: 30px;
 }
 .f2 span{
   margin-left: 130px;
   font-size: 30px;
 }
 .f3 span{
   margin-left: 305px;
   font-size: 30px;
 }
.partner{
   width: 100%;
   height: 300px;
   display: flex;
   justify-content: space-around;
   margin-top: 70px;
}
.img1{
   background-image: url(apple.jpeg);
   background-size: contain;
   background-repeat: no-repeat;
   height: 200px;
   width: 150px;
   /* border: 1px solid black; */
}
.img2{
   background-image: url(google.png);
   background-size: contain;
   background-repeat: no-repeat;
   height: 200px;
   width: 150px;
      /* border: 1px solid black; */
}
.img3{
   background-image: url(fb.png);
   background-size: contain;
   background-repeat: no-repeat;
   height: 200px;
   width: 150px;
   /* border: 1px solid black; */
}
.img4{
   background-image: url(twitter.png);
   background-size: contain;
   background-repeat: no-repeat;
   height: 200px;
   width: 150px;
   /* border: 1px solid black; */
}
.img5{
   background-image: url(micro.png);
   background-size: contain;
   background-repeat: no-repeat;
   height: 200px;
   width: 150px;
   /* border: 1px solid black; */
}
.footer{
   display: flex;
   justify-content: space-around;
   height: 450px;
   background-color:navy;
   color: white;
   
}

.fo1{
   height: 450px;
   width: 48%;
   align-items: center;
   font-size: 20px;
   /* border: 2px solid black; */
   margin-left: 10px;
   padding: 20px;
  
   padding-top: 75px;
}
.fo2{
   height: 450px;
   width: 28%;
   align-items: center;
   font-size: 26px;
   /* border: 2px solid black; */
   margin-left: 10px;
   text-align: center;
   padding-top: 110px;
}
select{
   margin-top: 20px;
   width: 200px;
   height: 30px;
   /* border: 1px solid black; */
   text-align: center;
   font: bold;
   font-family: Arial, Helvetica, sans-serif;

}

.fo3{
   height: 450px;
   width: 38%;
   align-items: center;
   font-size: 26px;
   /* border: 2px solid black; */
   margin-left: 10px;
   text-align: center;
   padding-top: 40px;

  
   
}

.fo3 ul{
   display: flex;
   flex-direction: column;
   padding-top: 2px;
   /* align-items: center; */
   font-size: 18px;
   
}
.fo3 li{
   margin-top: -10px;
   list-style: none;
}
.fo3 h4{
   text-decoration: underline;
   margin-top: 30px;
}
.fo2 p{
   font-size: 11px;
   margin-top: 5px;
}
.fo2 p span{
   color: coral;
}
.fo1 h4{
   margin-top: 38px;
   font-size: 25px;
}

.icon{
   display: flex;
   width: 200px;
   margin-top: 10px;
   justify-content: space-between;
}
.fo1 p{
   font-size: 24px;
   word-spacing: 4px;
  
}
.fo3 li{
   text-decoration: underline;
   
}
.copy{
    height: 60px;
    display: flex;
    font-size: 22px;
    color: white;
    justify-content: center;
    padding-top: 15px;
   text-align: center;
   background-color: navy;

}

.nav ul li a:hover {
   color: #323335;

}
.btn1:hover{
   color: #f9f9fa;
   background-color: rgb(55, 53, 53);
   border: 2.5px solid white;
   cursor: pointer;
   
}
.btn2:hover{
   color: #f9f9fa;
   background-color: rgb(55, 53, 53);
   cursor: pointer;

   
}
.reg:hover{
   background-color:navy;
   cursor: pointer;

}

.r1c1:hover{
   border: 2px solid black;
   background: linear-gradient(to bottom,#fff 50%, rgb(11, 74, 211) 50% );
   background-size: 100% 200%;
   background-position: bottom left;
   transition: all .7s ease-in-out;
   color: white;

}

.r1c2:hover{
   border: 2px solid black;
   background: linear-gradient(to bottom,#fff 50%, rgb(11, 74, 211) 50% );
   background-size: 100% 200%;
   background-position: bottom left;
   transition: all .7s ease-in-out;
   color: white;
}
.r2c1:hover{
   border: 2px solid black;
   background: linear-gradient(to bottom,#fff 50%, rgb(11, 74, 211) 50% );
   background-size: 100% 200%;
   background-position: bottom left;
   transition: all .7s ease-in-out;
   color: white;
}
.r2c2:hover{
   border: 2px solid black;
   background: linear-gradient(to bottom,#fff 50%, rgb(11, 74, 211) 50% );
   background-size: 100% 200%;
   background-position: bottom left;
   transition: all .7s ease-in-out;
   color: white;
}
.btn3:hover{
  background-color: navy;
  cursor: pointer;

   
}
.btn4:hover{
   
   
   border-color: rgb(5, 5, 5);
   color: rgb(0, 0, 0);
   background-color: white;
   border-width: 2.5px;
   cursor: pointer;

    
 }
 
